@charset "utf-8";
/* CSS Document */


/*colors*/
.greenFont6{
	color: #01be96;
}
.redFont6{
	color: #fe0000
}
.blueFont7{
	color: #389de3;
}
.blueFont8{
	color: #8ac0e4;
}
.blueFont9{
	color: #c6e3f5;
}
.blueFont10{
	color: #e1eef7;
}
/*ends*/

.flipX{
	transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);	
	filter: FlipH;
	-ms-filter: "FlipH";
}


.adl-container.reports{
	background-color:#F4F8F9
}
aside, #aside2{
	float:left;
	width:280px;
	background-color:#fff;
	transition:all 0.4s
}
article, #artcile2{
	float:left;
	width:calc(100% - 280px);
    transition: all 0.4s;
    position: absolute;
    left: 280px;
}
.adl-container.reports .fa-ellipsis-v{
	width:10px;
	text-align:center
}

header{
	height:40px
}
.reportsSrch{
	background-color: #F4F8F9;
	margin: 0;
    padding: 5px 10px;
	border-right: 1px solid #eee;
}
.reportsSrch .link i{
	float: right;
    margin: 5px 0 0;
    font-size: 20px;
}
.reportsSrch .fa-align-justify{
	transform: scaleX(0.4);
	margin-left: -3px;
	font-size: 14px;
}
.reportsSrch .font16{
	margin-top:6px
}
.reportsSrch .form-control{
	padding-right:25px
}
.adl-container.reports main aside, .adl-container.reports main article{
	height:calc(100vh - 40px)
}
.adl-container.reports article .titleNames{
	font-size:15px;
	float:left;
	padding:9px;
	border-top:3px solid transparent;
	position:relative
}
.adl-container.reports article .titleNames:hover{
	color:#41a3ea;
	border-top:3px solid #41a3ea;
	cursor:pointer
}
.adl-container.reports article .titleNames > span.link{
	display:none
}
.adl-container.reports article .titleNames.selected{
	font-weight:bold;
	border-top:3px solid #41a3ea;	
	background-color:#fff;
}
.adl-container.reports article .titleNames.selected > span.link{
	display:inline-block
}
.adl-container.reports article .titleNames.selected .adl-menu{
	width:120px
}
.adl-container.reports article .titleNames.selected .adl-menu .menu-list{
	min-width:auto
}
.adl-container.reports article .titleNames.selected .adl-menu .menu-list ul li{
	line-height:15px!important
}
.adl-container.reports article .titleNames.selected .adl-menu.adlShow{
	display:block
}


.adl-container.reports article .title{
	border-bottom:none;
	padding:0;
	margin:0
}
#reportsNav{
	background-color:#F4F8F9;
	border-top:1px solid #eee;
	border-right:1px solid #eee
}
#reportsNav .check_text{
	float:left
}
#reportsNav .navOption{
	padding:10px;
	position:relative;
	border-bottom:1px solid #eee
}
#reportsNav li{
	float:left;
	width:100%
}
#reportsNav li label{
	float:left
}
#reportsNav li ul{
	display:none;
	float:left;
	width:100%
}
#reportsNav li ul li{
	padding:10px 10px 10px 20px;
	border-bottom:1px solid #eee;
	background-color:#fff;
	display:block;
	position:relative
}
#reportsNav li ul li.selected{
	background-color:#EBF5FE;
	border-bottom:1px solid #d9ecfd
}
#reportsNav .toggleBtn{
	position: absolute;
    right: 15px;
    top: 11px;
    color: #41a3ea;
    height: 29px;
    padding: 0 2px;
    font-size: 17px;
}
#reportsNav .toggleBtn.active{
	background-color: #fff;
    border-radius: 10px 10px 0 0;
}
#reportsNav .toggleBtn i{
	transition:all 0.3s
}
#reportsNav .toggleBtn:hover{
	color:#666;
	cursor:pointer
}
.rightWrap{
	background-color:#fff
}
.reportsWrap .header{
	padding:10px
}
.reportsWrap .tabLink{
	font-size:15px;
	font-weight:500;
	padding:5px 10px;
	border-bottom:1px solid #ddd
}
.reportsWrap .tabLink + .tabLink{
	margin-left:8px
}
.reportsWrap .tabLink:hover{
	color:#41a3ea;
	cursor:pointer
}
.reportsWrap .tabLink.active{
	color:#41a3ea;
	border-bottom:1px solid #41a3ea
}

.reportsWrap .header .adl-form-group{
	float:left;
	width: 85px;
	margin:0
}
.reportsWrap .header .adl-form-group .form-control{
	padding:0 10px
}

.reportsWrap .header .adl-form-group .form-control.sm, .reportsWrap .header .adl-select::after{
	height:20px;
	line-height:20px;
	z-index:9
}

.reportsWrap .header .refresh{
    margin-right: 10px;
    font-size: 14px;
    padding: 2px;
}
.reportsWrap .header .showhide{
	margin:0 5px;
}

/*div based table*/
.divTable{
	display:table;
	table-layout:fixed;
	width: 100%;
	overflow: hidden;
	border-radius:5px;
	box-shadow:0px 1px 5px rgba(0,0,0,0.2)
}
.divTable .divRow{
	display:table-row;
	line-height:16px;
	font-size:12px
}
.divTable .divRow:nth-child(2n+2){
	background-color:#F4F8F9
}
.divTable .divRow.divHead{
	color:#999;
	line-height:13px;
	font-size:11px;
	background-color:#fff
}
.divTable .divRow.divHead .divCol{
	vertical-align:middle;
	padding:5px 3px;
	height:25px
}
.divTable .divRow.divFoot .divCol{
	background-color:#E3F8F3;
	font-weight:500;
	padding:8px 3px;
	vertical-align:middle
}
.divTable .divRow:nth-child(2) .divCol{
	border-top:1px solid #eee!important;
}
.divTable .divRow .divCol{
	display:table-cell;
	padding:5px 3px;
	line-height:14px
}
.divTable .divRow + .divRow .divCol{
	border-top:1px solid #f1f2f3
}
.divTable .divRow + .divRow .divCol + .divCol{
	border-left:1px solid #f1f2f3
}
.divTable .divRow .divCol:first-child{
	padding-left:10px
}
.divTable .divRow .divCol:last-child{
	padding-right:10px
}
.divTable .divRow .divCol[class*="col"]{
	float:none!important
}
.divTable .divRow.divHead .divCol{
	font-size:11px;
	line-height:12px;
}
.divTable .divRow .divCol.prcnt{
	width:58px
}
.divTable.tagRow{
	box-shadow: none;
}
.divTable.tagRow .tag{
	background-color:#F4F8F9
}
.divTable.tagRow .divRow .divCol + .divCol{
	border-left:1px solid transparent
}

/*end*/


/*Asset allocation*/
.assetDetails.divTable .divCol:nth-child(1){
	width:20%
}
.assetDetails.divTable .divCol:nth-child(2){
	width:70px
}
.assetDetails.divTable .divCol:nth-child(4){
	width:70px
}
.assetDetails.divTable .divCol:nth-child(5){
	width:70px
}
.assetDetails.divTable .divCol:nth-child(7){
	width:80px
}
.assetDetails.divTable .divCol:nth-child(8){
	width:70px
}
.assetDetails.divTable .divCol:nth-child(10){
	width:70px
}
.assetDetails.divTable .divCol:nth-child(12){
	width:70px
}
.assetDetails.divTable .divCol:nth-child(13){
	width:85px
}
.assetDetails.divTable .divCol:nth-child(14){
	width:75px
}
.assetSection .adl-scroll{
	height:calc(100vh - 81px)
}

/*end*/

.adl-container.reports.blank article *{
	display:none
}

.adl-container.reports.blank:before {
	content: '';
    display: block;
    width: 350px;
    height: 270px;
    margin: auto;
    position: absolute;
    left: 58%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
	background:url(../../assets/adl2/landing_graphic.svg) no-repeat center center;
}
.adl-container.reports.blank:after {
    content: "Select report(s) from the left panel to view and download.";
    display: block;
    width: 500px;
    margin: auto;
    position: absolute;
    left: 58%;
    top: 50%;
    margin-left: -230px;
    margin-top: 120px;
    text-align: center;
    color: #999;
    font-size: 17px;
}

.adl-container.reports main aside .row1 .col-1{
	margin-top:5px
}

.adl-container.reports.expand #aside2{
	margin-left:-280px
}
.adl-container.reports.expand #article2{
	width:100%;
	left:0
}

.toggleOverview:hover{
	color: #666 !important;
	cursor: pointer;
}
.ovSummary{
	line-height: 16px;
}

/*overview list*/
.ovList{
    background: #fff;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.15);
    margin-top: 5px;
    padding: 10px 0px;
    font-size: 12px;
    max-height: 300px;
    height: auto !important;	
}

.ovList ul.level1 > li:hover > .field{
	color: #41a3ea;
		cursor: pointer;
}
.ovList ul.level1 > li{
	padding: 0px 10px;
}
.ovList ul li .value {
    font-size: 14px;
    font-family: Roboto Condensed,sans-serif;
}
.ovList ul li .cent {
    font-size: 10px;
    margin-right: 5px;
    color: #999;	
}
.ovList ul li .fa{
	margin-right: 5px;
}
.ovList ul.level1 li.active{
background-color: #ebf5fe;
}
.ovList ul li + li{
    margin-top: 3px;
}
.ovList ul.level2 li + li{
    margin-top: 2px;
}
.ovList ul.level2{
	padding: 0px 0px 0px 16px;
	display: none;
}
.ovList ul.level2 .initials{
    font-size: 8px;
    height: 12px;
    width: 12px;
    border: 1px solid #41a3ea;
    border-radius: 50%;
    line-height: 10px;
    margin-right: 3px;
    display: inline-block;
    text-align: center;
    color: #41a3ea;
}
.ovList ul li .fa.fa-tag{
    margin-left: 5px;
    font-size: 13px;
}
/*end*/

/*quick search*/

.quickSearchWrap{
    padding-right: 16px;
}
.quickSearchWrap .fa.fa-close{
    position: absolute;
    right: 0px;
    top: 6px;
    font-size: 14px;
}
.quickSearchValue .fa.fa-search{
	margin-left: 8px;
    color: #999;
}
.quickSearchValue .fa.fa-search:hover{
    color: #41a3ea;
}

.quickSearch input{
    width: 100%;
    border: solid 1px #d2dade;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    font-size: 12px;
    color: #999;
    transition: all 0.3s;
    height: auto;
    font-family: Roboto, sans-serif;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    padding-right: 22px;
}
.quickSearch .fa.fa-search{
	position: absolute;
    top: 6px;
    right: 10px;
}
/*end*/
.graphSection .graphValues{
	position: relative;
}
.graphSection .graphValues .label{
	color: #999;
	font-size: 12px;
}
.graphSection .graphValues .value{
	font-size: 15px;
}
.graphValues.withLine::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #ddd;
    top: 15px;
    z-index: 1;
}
.graphValues.withLine > div{
    position: absolute;
    z-index: 9;
}
.graphValues.withLine > div:last-child{
	right: 0px;
}

.graphValues.withLine > div:first-child{
	left: 0px;
}

.graphValues.withLine.three > div:nth-child(2){
    right: 0px;
    left: 0;
    margin: auto;
    width: 200px;
    text-align: center;
}
.ovList.ovListType2 .headers{
	color: #999;
}

/*Report Tabs*/
.tabContent{
	display: none;
}

.tabContent.active{
	display: block;
}
/*End*/

/*Income Growth*/
.igSection .adl-scroll{
	height:calc(100vh - 81px)
}
.igSection .divTable.tagRow .divCol:nth-child(2), .igSection .divTable.tagRow .divCol:nth-child(5){
	width:21%
}

/*end*/




















